<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>EJS</title>
</head>
<body>
    <h1>hey <%= 2+2+2 %></h1>
    



    <script src="/javascripts/script.js"></script>
</body>
</html>